h1{
    color: blue;
}

table, tr, th,td {
    border: 1px solid black;
    border-collapse: collapse;
  }

#jobInput{
    margin-bottom: 10px;
}

#descriptionInput{
    
    margin-bottom: 10px;
    margin-right: 10px;
    height: 100px;
    width: 400px;
}

#enterButton{
    margin-bottom: 50px;
}

.background{
    background-color: green;
}

.default{
    background-color: yellow;
}