h1{
    color: blue;
    align-content: center;
    margin: auto;
}

table, tr, th,td {
    border: 1px solid black;
    border-collapse: collapse;
  }
tr{
    background-color: tan;
}
  th{
    font-style: italic;
    font-size: large;
  }

#jobInput{
    margin-bottom: 10px;
}

#descriptionInput{
    
    margin-bottom: 10px;
    margin-right: 10px;
    height: 100px;
    width: 400px;
}

#enterButton{
    margin-bottom: 50px;
}

.background{
    background-color: green;
}
body{
    background-color: cadetblue;
}

.default{
    background-color: yellow;
}

.completeButton{
    align-self: stretch;
}